@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  }

.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #3538f1;
  margin-bottom: 0px;
}
.create .dateContainer{
background-color: #cccccc;
padding:15px 0 10px 0;
margin:0 0 10px 0;
}

.create .date{
  display: flex;
  justify-content: center;
}
.create .dateSelectRequest{
  color: red;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create .button {
  background: #5c5dc0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
textarea{ 
    max-width: 100%;
    min-width: 100%;
    min-height:60px;
    max-height:60px;

}